@import './../base/variables';
@import './../base/colors';

.button {
  &--primary {
    padding: 15px 20px;
    color: $color--white;
    background-color: $color--violet;
    border: 0;
    border-radius: $border-radius;
    cursor: pointer;
  }

  &--disabled {
    color: $color--black;
    background-color: $color--white-darker;
    border: 1px solid $color--white-violet;
    cursor: not-allowed;
  }
}
