@import './../base/variables.scss';

.quote {
  max-width: 500px;
  font-size: 60px;
  text-align: center;
  color: $text-color;
  animation: neon 3s infinite;
}

@keyframes neon {
  0% {
    text-shadow: -1px -1px 1px $text-color, -1px 1px 1px $text-color, 1px -1px 1px $text-color, 1px 1px 1px $text-color,
      0 0 3px $text-color, 0 0 10px $text-color, 0 0 20px $text-color, 0 0 30px $text-shadow-color,
      0 0 40px $text-shadow-color, 0 0 50px $text-shadow-color, 0 0 70px $text-shadow-color,
      0 0 100px $text-shadow-color, 0 0 200px $text-shadow-color;
  }

  50% {
    text-shadow: -1px -1px 1px $text-color, -1px 1px 1px $text-color, 1px -1px 1px $text-color, 1px 1px 1px $text-color,
      0 0 5px $text-color, 0 0 15px $text-color, 0 0 25px $text-color, 0 0 40px $text-shadow-color,
      0 0 50px $text-shadow-color, 0 0 60px $text-shadow-color, 0 0 80px $text-shadow-color,
      0 0 110px $text-shadow-color, 0 0 210px $text-shadow-color;
  }

  100% {
    text-shadow: -1px -1px 1px $text-color, -1px 1px 1px $text-color, 1px -1px 1px $text-color, 1px 1px 1px $text-color,
      0 0 3px $text-color, 0 0 10px $text-color, 0 0 20px $text-color, 0 0 30px $text-shadow-color,
      0 0 40px $text-shadow-color, 0 0 50px $text-shadow-color, 0 0 70px $text-shadow-color,
      0 0 100px $text-shadow-color, 0 0 200px $text-shadow-color;
  }
}
