@import '~normalize.css';
@import '~swiper/css/swiper.min.css';
@import './../base/typography';
@import './../base/colors';
@import './../base/variables';

:root {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: $font-family;
  font-size: $font-size;
  color: $text-color;
  background-color: $bg-color;
}

h1,
h2,
h3,
h4,
h5,
ul {
  margin: 0;
  padding: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  border: 0;
}

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}
