@import './../base/colors';

$text-color: $color--black;
$bg-color: $color--white;
$font-size: 16px;
$accent: $color--violet;

$width--sm-min: 576px;
$width--md-min: 768px;
$width--lg-min: 992px;
$width--xl-min: 1200px;
