@import './../base/colors';

$text-color: $color--white;
$text-shadow-color: $color--white-violet;
$bg-color: $color--violet;
$font-size: 16px;
$accent: $color--violet;
$border-radius: 5px;

$width--sm-min: 576px;
$width--md-min: 768px;
$width--lg-min: 992px;
$width--xl-min: 1200px;
